window {
    background: #f5f2e7;
}
button {
    background: #E8D0C0;
    min-width: 120px;
    min-height: 25px;
    color: #C89674;
    border: 0;
    font-size: 24px;
}
#button_exit {
}

#button_login {
}

#button_register {
}

button:hover {
    color: red;
    background: #ddd0ab;
}