window {
    background: #f5f2e7;

}
#button_menu {
    background: #E8D0C0;
    min-width: 150px;
    min-height: 25px;
    color: #916343;
    border: 0;
    font-size: 24px;
}

#button_menu:hover {
    color: red;
    background: #ddd0ab;
}

#authentication_label {
    font-size: 24px;
}

#authentication_entry {
    font-size: 22px;
}

#button_submit {
    min-width: 150px;
    min-height: 25px;
    font-size: 24px;
}

#button_main_left {
    min-width: 75px;
    min-height: 25px;
    border: 0;
    font-size: 30px;
}

#button_main_right {
    min-width: 75px;
    min-height: 25px;
    border: 0;
    font-size: 30px;

}

#show_month  {
    border: 0;
    min-width: 100px;
    min-height: 25px;
    font-size: 45px;
    background: #f5f2e7;
    box-shadow: none;
}

#show_month:focus {
    border: none;
    outline: none;
}


#show_year {
    border: none;
    box-shadow: none;
    min-width: 100px;
    min-height: 25px;   
    font-size: 78px;
    background: #f5f2e7;
}

#show_year:focus {
    border: none;
    outline: none;
}

#dayOfWeek_label {
    font-size: 28px;
}