window {
    background: #f5f2e7;

}
#button_menu {
    background: #E8D0C0;
    min-width: 150px;
    min-height: 25px;
    color: #916343;
    border: 0;
    font-size: 24px;
}

#button_menu:hover {
    color: red;
    background: #ddd0ab;
}

#login_register_dialog {
    background: #f0f0f0;
}

#forgot_button {
    box-shadow: none;
    border: none;
    font-size: 15px;
    color: #2c679c;
    background: #f0f0f0;
}

#forgot_button:hover {
    font-size: 16px;
    font-weight: bold;
}

#login_register_button {
    box-shadow: none;
    border: none;
    font-size: 15px;
    color: #2c679c;
    background: #f0f0f0;
    font-weight: bold;
}

#login_register_button:hover {
    font-size: 16px;
    color: #204566;
}


#button_submit {
    min-width: 150px;
    min-height: 25px;
}

#login_register_label {
    color: #3f6689;
    font-weight: bold;
    font-size: 50px;
}

#button_main {
    min-width: 75px;
    min-height: 25px;
    border: 0;
    font-size: 30px;
    background: #f5f2e7;
    box-shadow: none;
}

#button_main:focus {
    border: none;
    outline: none;
}

#goto_day {
    background: #E8D0C0;
    color: #916343;
    box-shadow: none;
    border: none;
}

#goto_day:hover {
    color: red;
    background: #ddd0ab;
}

#goto_entry {
    padding: 3px 2px 2px 7px; /*top right bottom left*/
    min-height: 0px; 
    min-width: 0px;
}

#show_month  {
    border: 0;
    min-width: 100px;
    min-height: 25px;
    font-size: 45px;
    background: #f5f2e7;
    box-shadow: none;
}

#show_month:focus {
    border: none;
    outline: none;
}


#show_year {
    border: none;
    box-shadow: none;
    min-width: 100px;
    min-height: 25px;   
    font-size: 78px;
    background: #f5f2e7;
}

#show_year:focus {
    border: none;
    outline: none;
}

#note_event_entry {
    padding-bottom: 50px;
    padding-top: 10px;
    min-height: 0px; 
    min-width: 300px;
}

#error_label {
    color: red;
}

#success_label {
    color: green;
    font-weight: bold;
}

#show_eventList {
    border: none;
    box-shadow: none;
    min-width: 100px;
    min-height: 25px;   
    font-size: 45px;
}
#eventList_label {
    border: none;
    box-shadow: none;
    min-width: 50px;
    min-height: 25px;
    font-size: 23px;
    color: #5f4331;
}
#eventName_in_box {
    border: none;
    box-shadow: none;
    min-width: 50px;
    min-height: 25px;
    font-size: 25px;
    color: #5f4331;
}
#box_info {
    border: 0.1px solid #8f8a75;
    box-shadow: none;
    background: #f2f1eb;
    min-width: 300px;
    min-height: 100px;
}

#box_note {
    border: 0.1px solid #8f8a75;
    box-shadow: none;
    background: #f7f7f7;
    min-width: 260px;
    min-height: 520px;
}

#name_note {
    font-size: 20px;
    color: #bf9d86;
}

#box_event_header {
    border: 0.1px solid #8f8a75;
    box-shadow: none;
    background: #d4c7a3;
    min-width: 850px;
    min-height: 30px;

}

#box_event_main {
    border: 0.1px solid #8f8a75;
    box-shadow: none;
    background: #f7f7f7;
    min-width: 850px;
    min-height: 100px;
}
 #box_event_show {
    border: 0.1px solid #5f4331;
    box-shadow: none;
    background: #E8D0C0;
    min-width: 760px;
    min-height: 750px;
 }
#calendar {
    padding: 15px 30px 10px 30px; /*top right bottom left*/
    font-size: 28px;
    background: #f5f2e7;
    border: none;
}

#calendar:selected { /*button day select*/
	background-color: #DDAAAA;
}

#calendar:focus {
    border: none;
    outline: none;
}

#calendar.highlight { /*day list label*/
    color: black;
}
#note_content{
    min-width: 240px;
    background: #fff2a1;
    color:#a18b02;
    font-weight:bold;
    padding:8px 8px 8px 8px;
    
 }
 #mark_note_day
 {
     font-size: 40px;
     color:red;
 }
#mark_event_day
{
    font-size: 40px;
    color:#00cf18;
}

 
